actuator/.gradle/
.idea/
actuator/build/
actuator/out/
autoconfig/.gradle/
autoconfig/HELP.md
autoconfig/out/
boot/.gradle/
boot/out/
embed/HELP.md
embed/.gradle/
embed/out/
external/HELP.md
external/.gradle/
external/build/
external/out/
external-read/HELP.md
external-read/.gradle/
boot/HELP.md
external-read/out/
lib/HELP.md
lib/.gradle/
memory/memory-v1/.gradle/
memory/memory-v1/build/
memory/memory-v2/.gradle/
memory/memory-v2/build/
memory/project-v1/HELP.md
memory/project-v1/.gradle/
memory/project-v1/out/
memory/project-v2/HELP.md
memory/project-v2/.gradle/
memory/project-v2/out/
