memory/memory-v1/.gradle/
memory/memory-v1/.idea/
memory/memory-v1/build/
memory/memory-v2/.gradle/
memory/memory-v2/.idea/
memory/memory-v2/build/
actuator/.gradle/
actuator/.idea/
actuator/out/production/classes/
actuator/out/
actuator/build/
