<included>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="REQUEST1" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 로그 파일 경로 -->
        <file>logs/request1.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 로그 파일 이름 패턴 -->
            <fileNamePattern>logs/archive/request1.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <!-- 로그 파일 최대 크기 -->
            <maxFileSize>1KB</maxFileSize>
            <!-- 로그 파일 최대 보관 주기 (단위: 일) -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                [REQUEST1] [%-5level] %d{yyyy-MM-dd HH:mm:ss} [%thread] [%logger{0}:%line] - %msg%n
            </pattern>
            <!-- 로그 파일 최상단에 패턴 출력 여부 -->
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="REQUEST1"/>
    </root>
</included>