<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<a href="/board/register">등록</a>
<table>
    <thead>
    <tr>
        <td>id</td>
        <td>title</td>
        <td>contents</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${list}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.title}"></td>
        <td th:text="${item.contents}"></td>
    </tr>
    <tr th:if="${list.isEmpty()}">
        <td colspan="3">조회된 결과가 없습니다.</td>
    </tr>
    </tbody>
</table>
</body>
</html>