<!doctype html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>

<footer th:fragment="footerFragment(parameterUser)">
    <p> Footer Area</p>
    <p th:text="${parameterUser}"></p>
    <p th:text="${parameterUser.id}"></p>
    <p th:text="${parameterUser.name}"></p>
    <p th:text="${parameterUser.mobile}"></p>
</footer>

<footer th:fragment="footerFragment2(userId, userName, userMobile)">
    <p> Footer Area 2</p>
    <p th:text="${userId}"></p>
    <p th:text="${userName}"></p>
    <p th:text="${userMobile}"></p>
</footer>

</body>
</html>