<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{{#compare 1 2}}{{/compare}} <br />
{{#compare 3 5}}{{/compare}} <br />
{{#compare 5 7}}{{/compare}} <br />
{{#compare 1 8}}{{/compare}} <br />
{{#compare 8 4}}{{/compare}} <br />
{{#compare 5 1}}{{/compare}} <br />
</body>
</html>