<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>execInfo</h1>
<ul>
    <li>templateName = <span th:text="${#execInfo.templateName}"></span></li>
    <li>templateMode = <span th:text="${#execInfo.templateMode}"></span></li>
    <li>processedTemplateName = <span th:text="${#execInfo.processedTemplateName}"></span></li>
    <li>processedTemplateMode = <span th:text="${#execInfo.processedTemplateMode}"></span></li>
    <li>templateNames = <span th:text="${#execInfo.templateNames}"></span></li>
    <li>templateModes = <span th:text="${#execInfo.templateModes}"></span></li>
    <li>templateStack = <span th:text="${#execInfo.templateStack}"></span></li>
</ul>

<h1>messages</h1>
<ul>
    <li>msg = <span th:text="${#messages.msg('msgKey')}"></span></li>
    <li>msg = <span th:text="${#messages.msg('msgKey', param1)}"></span></li>
    <li>msg = <span th:text="${#messages.msg('msgKey', param1, param2)}"></span></li>
    <li>msg = <span th:text="${#messages.msg('msgKey', param1, param2, param3)}"></span></li>
    <li>arrayMsg = <span th:text="${#messages.arrayMsg(array)}"></span></li>
    <li>listMsg = <span th:text="${#messages.listMsg(list)}"></span></li>
    <li>setMsg = <span th:text="${#messages.setMsg(set)}"></span></li>
    <li>msgOrNull = <span th:text="${#messages.msgOrNull('msgKey')}"></span></li>
    <li>msgOrNull = <span th:text="${#messages.msgOrNull('msgKey', param1)}"></span></li>
    <li>msgOrNull = <span th:text="${#messages.msgOrNull('msgKey', param1, param2)}"></span></li>
    <li>msgOrNull = <span th:text="${#messages.msgOrNull('msgKey', param1, param2, param3)}"></span></li>
    <li>arrayMsgOrNull = <span th:text="${#messages.arrayMsgOrNull(array)}"></span></li>
    <li>listMsgOrNull = <span th:text="${#messages.listMsgOrNull(list)}"></span></li>
    <li>setMsgOrNull = <span th:text="${#messages.setMsgOrNull(set)}"></span></li>
</ul>

<h1>URIs/URLs</h1>
<ul>
    <li>escapePath = <span th:text="${#uris.escapePath(uri)}"></span></li>
    <li>escapePath = <span th:text="${#uris.escapePath(uri, encoding)}"></span></li>
    <li>unescapePath = <span th:text="${#uris.unescapePath(uri)}"></span></li>
    <li>unescapePath = <span th:text="${#uris.unescapePath(uri, encoding)}"></span></li>
    <li>escapePathSegment = <span th:text="${#uris.escapePathSegment(uri)}"></span></li>
    <li>escapePathSegment = <span th:text="${#uris.escapePathSegment(uri, encoding)}"></span></li>
    <li>unescapePathSegment = <span th:text="${#uris.unescapePathSegment(uri)}"></span></li>
    <li>unescapePathSegment = <span th:text="${#uris.unescapePathSegment(uri, encoding)}"></span></li>
    <li>escapeFragmentId = <span th:text="${#uris.escapeFragmentId(uri)}"></span></li>
    <li>escapeFragmentId = <span th:text="${#uris.escapeFragmentId(uri, encoding)}"></span></li>
    <li>unescapeFragmentId = <span th:text="${#uris.unescapeFragmentId(uri)}"></span></li>
    <li>unescapeFragmentId = <span th:text="${#uris.unescapeFragmentId(uri, encoding)}"></span></li>
    <li>escapeQueryParam = <span th:text="${#uris.escapeQueryParam(uri)}"></span></li>
    <li>escapeQueryParam = <span th:text="${#uris.escapeQueryParam(uri, encoding)}"></span></li>
    <li>unescapeQueryParam = <span th:text="${#uris.unescapeQueryParam(uri)}"></span></li>
    <li>unescapeQueryParam = <span th:text="${#uris.unescapeQueryParam(uri, encoding)}"></span></li>
</ul>

<h1>conversions</h1>
<ul>
    <li>convert = <span th:text="${#conversions.convert(object, 'java.util.Date')}"></span></li>
    <li>convert = <span th:text="${#conversions.convert(object, targetClass)}"></span></li>
</ul>

</body>
</html>