<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>execInfo</h1>
<ul>
    <li>templateName = <span th:text="${#execInfo.templateName}"></span></li>
    <li>templateMode = <span th:text="${#execInfo.templateMode}"></span></li>
    <li>processedTemplateName = <span th:text="${#execInfo.processedTemplateName}"></span></li>
    <li>processedTemplateMode = <span th:text="${#execInfo.processedTemplateMode}"></span></li>
    <li>templateNames = <span th:text="${#execInfo.templateNames}"></span></li>
    <li>templateModes = <span th:text="${#execInfo.templateModes}"></span></li>
    <li>templateStack = <span th:text="${#execInfo.templateStack}"></span></li>
</ul>

<h1>messages</h1>
<ul>
    <li>msg = <span th:text="${#messages.msg('msgKey')}"></span></li>
    <li>msg = <span th:text="${#messages.msg('msgKey', param1)}"></span></li>
    <li>msg = <span th:text="${#messages.msg('msgKey', param1, param2)}"></span></li>
    <li>msg = <span th:text="${#messages.msg('msgKey', param1, param2, param3)}"></span></li>
    <li>arrayMsg = <span th:text="${#messages.arrayMsg(array)}"></span></li>
    <li>listMsg = <span th:text="${#messages.listMsg(list)}"></span></li>
    <li>setMsg = <span th:text="${#messages.setMsg(set)}"></span></li>
    <li>msgOrNull = <span th:text="${#messages.msgOrNull('msgKey')}"></span></li>
    <li>msgOrNull = <span th:text="${#messages.msgOrNull('msgKey', param1)}"></span></li>
    <li>msgOrNull = <span th:text="${#messages.msgOrNull('msgKey', param1, param2)}"></span></li>
    <li>msgOrNull = <span th:text="${#messages.msgOrNull('msgKey', param1, param2, param3)}"></span></li>
    <li>arrayMsgOrNull = <span th:text="${#messages.arrayMsgOrNull(array)}"></span></li>
    <li>listMsgOrNull = <span th:text="${#messages.listMsgOrNull(list)}"></span></li>
    <li>setMsgOrNull = <span th:text="${#messages.setMsgOrNull(set)}"></span></li>
</ul>

<h1>URIs/URLs</h1>
<ul>
    <li>escapePath = <span th:text="${#uris.escapePath(uri)}"></span></li>
    <li>escapePath = <span th:text="${#uris.escapePath(uri, encoding)}"></span></li>
    <li>unescapePath = <span th:text="${#uris.unescapePath(uri)}"></span></li>
    <li>unescapePath = <span th:text="${#uris.unescapePath(uri, encoding)}"></span></li>
    <li>escapePathSegment = <span th:text="${#uris.escapePathSegment(uri)}"></span></li>
    <li>escapePathSegment = <span th:text="${#uris.escapePathSegment(uri, encoding)}"></span></li>
    <li>unescapePathSegment = <span th:text="${#uris.unescapePathSegment(uri)}"></span></li>
    <li>unescapePathSegment = <span th:text="${#uris.unescapePathSegment(uri, encoding)}"></span></li>
    <li>escapeFragmentId = <span th:text="${#uris.escapeFragmentId(uri)}"></span></li>
    <li>escapeFragmentId = <span th:text="${#uris.escapeFragmentId(uri, encoding)}"></span></li>
    <li>unescapeFragmentId = <span th:text="${#uris.unescapeFragmentId(uri)}"></span></li>
    <li>unescapeFragmentId = <span th:text="${#uris.unescapeFragmentId(uri, encoding)}"></span></li>
    <li>escapeQueryParam = <span th:text="${#uris.escapeQueryParam(uri)}"></span></li>
    <li>escapeQueryParam = <span th:text="${#uris.escapeQueryParam(uri, encoding)}"></span></li>
    <li>unescapeQueryParam = <span th:text="${#uris.unescapeQueryParam(uri)}"></span></li>
    <li>unescapeQueryParam = <span th:text="${#uris.unescapeQueryParam(uri, encoding)}"></span></li>
</ul>

<h1>conversions</h1>
<ul>
    <li>convert = <span th:text="${#conversions.convert(object, 'java.util.Date')}"></span></li>
    <li>convert = <span th:text="${#conversions.convert(object, targetClass)}"></span></li>
</ul>

<h1>dates</h1>
<ul>
    <li>format = <span th:text="${#dates.format(date)}"></span></li>
    <li>arrayFormat = <span th:text="${#dates.arrayFormat(datesArray)}"></span></li>
    <li>listFormat = <span th:text="${#dates.listFormat(datesList)}"></span></li>
    <li>setFormat = <span th:text="${#dates.setFormat(datesSet)}"></span></li>
    <li>formatISO = <span th:text="${#dates.formatISO(date)}"></span></li>
    <li>arrayFormatISO = <span th:text="${#dates.arrayFormatISO(datesArray)}"></span></li>
    <li>listFormatISO = <span th:text="${#dates.listFormatISO(datesList)}"></span></li>
    <li>setFormatISO = <span th:text="${#dates.setFormatISO(datesSet)}"></span></li>
    <li>format = <span th:text="${#dates.format(date, 'dd/MMM/yyyy HH:mm')}"></span></li>
    <li>arrayFormat = <span th:text="${#dates.arrayFormat(datesArray, 'dd/MMM/yyyy HH:mm')}"></span></li>
    <li>listFormat = <span th:text="${#dates.listFormat(datesList, 'dd/MMM/yyyy HH:mm')}"></span></li>
    <li>setFormat = <span th:text="${#dates.setFormat(datesSet, 'dd/MMM/yyyy HH:mm')}"></span></li>
    <li>day = <span th:text="${#dates.day(date)}"></span></li>  <!-- // also arrayDay(...), listDay(...), etc. -->
    <li>month = <span th:text="${#dates.month(date)}"></span></li>  <!-- // also arrayMonth(...), listMonth(...), etc. -->
    <li>monthName = <span th:text="${#dates.monthName(date)}"></span></li>  <!-- // also arrayMonthName(...), listMonthName(...), etc. -->
    <li>monthNameShort = <span th:text="${#dates.monthNameShort(date)}"></span></li>  <!-- // also arrayMonthNameShort(...), listMonthNameShort(...), etc. -->
    <li>year = <span th:text="${#dates.year(date)}"></span></li>  <!-- // also arrayYear(...), listYear(...), etc. -->
    <li>dayOfWeek = <span th:text="${#dates.dayOfWeek(date)}"></span></li>  <!-- // also arrayDayOfWeek(...), listDayOfWeek(...), etc. -->
    <li>dayOfWeekName = <span th:text="${#dates.dayOfWeekName(date)}"></span></li>  <!-- // also arrayDayOfWeekName(...), listDayOfWeekName(...), etc. -->
    <li>dayOfWeekNameShort = <span th:text="${#dates.dayOfWeekNameShort(date)}"></span></li>  <!-- // also arrayDayOfWeekNameShort(...), listDayOfWeekNameShort(...), etc. -->
    <li>create = <span th:text="${#dates.create(year,month,day)}"></span></li>
    <li>create = <span th:text="${#dates.create(year,month,day,hour,minute)}"></span></li>
    <li>create = <span th:text="${#dates.create(year,month,day,hour,minute,second)}"></span></li>
    <li>create = <span th:text="${#dates.create(year,month,day,hour,minute,second,millisecond)}"></span></li>
    <li>createNow = <span th:text="${#dates.createNow()}"></span></li>
    <li>createNowForTimeZone = <span th:text="${#dates.createNowForTimeZone('Asia/Seoul')}"></span></li>
    <li>createToday = <span th:text="${#dates.createToday()}"></span></li>
    <li>createTodayForTimeZone = <span th:text="${#dates.createTodayForTimeZone('Asia/Seoul')}"></span></li>
</ul>

<h1>calendars</h1>
<ul>
    <li>format = <span th:text="${#calendars.format(cal)}"></span></li>
    <li>arrayFormat = <span th:text="${#calendars.arrayFormat(calArray)}"></span></li>
    <li>listFormat = <span th:text="${#calendars.listFormat(calList)}"></span></li>
    <li>setFormat = <span th:text="${#calendars.setFormat(calSet)}"></span></li>
    <li>formatISO = <span th:text="${#calendars.formatISO(cal)}"></span></li>
    <li>arrayFormatISO = <span th:text="${#calendars.arrayFormatISO(calArray)}"></span></li>
    <li>listFormatISO = <span th:text="${#calendars.listFormatISO(calList)}"></span></li>
    <li>setFormatISO = <span th:text="${#calendars.setFormatISO(calSet)}"></span></li>
    <li>format = <span th:text="${#calendars.format(cal, 'dd/MMM/yyyy HH:mm')}"></span></li>
    <li>arrayFormat = <span th:text="${#calendars.arrayFormat(calArray, 'dd/MMM/yyyy HH:mm')}"></span></li>
    <li>listFormat = <span th:text="${#calendars.listFormat(calList, 'dd/MMM/yyyy HH:mm')}"></span></li>
    <li>setFormat = <span th:text="${#calendars.setFormat(calSet, 'dd/MMM/yyyy HH:mm')}"></span></li>
    <li>day = <span th:text="${#calendars.day(date)}"></span></li> <!-- // also arrayDay(...), listDay(...), etc. -->
    <li>month = <span th:text="${#calendars.month(date)}"></span></li> <!-- // also arrayMonth(...), listMonth(...), etc. -->
    <li>monthName = <span th:text="${#calendars.monthName(date)}"></span></li> <!-- // also arrayMonthName(...), listMonthName(...), etc. -->
    <li>monthNameShort = <span th:text="${#calendars.monthNameShort(date)}"></span></li> <!-- // also arrayMonthNameShort(...), listMonthNameShort(...), etc. -->
    <li>year = <span th:text="${#calendars.year(date)}"></span></li> <!-- // also arrayYear(...), listYear(...), etc. -->
    <li>dayOfWeek = <span th:text="${#calendars.dayOfWeek(date)}"></span></li> <!-- // also arrayDayOfWeek(...), listDayOfWeek(...), etc. -->
    <li>dayOfWeekName = <span th:text="${#calendars.dayOfWeekName(date)}"></span></li> <!-- // also arrayDayOfWeekName(...), listDayOfWeekName(...), etc. -->
    <li>dayOfWeekNameShort = <span th:text="${#calendars.dayOfWeekNameShort(date)}"></span></li> <!-- // also arrayDayOfWeekNameShort(...), listDayOfWeekNameShort(...), etc. -->
    <li>hour = <span th:text="${#calendars.hour(date)}"></span></li> <!-- // also arrayHour(...), listHour(...), etc. -->
    <li>minute = <span th:text="${#calendars.minute(date)}"></span></li> <!-- // also arrayMinute(...), listMinute(...), etc. -->
    <li>second = <span th:text="${#calendars.second(date)}"></span></li> <!-- // also arraySecond(...), listSecond(...), etc. -->
    <li>millisecond = <span th:text="${#calendars.millisecond(date)}"></span></li> <!-- // also arrayMillisecond(...), listMillisecond(...), etc. -->
    <li>create = <span th:text="${#calendars.create(year,month,day)}"></span></li>
    <li>create = <span th:text="${#calendars.create(year,month,day,hour,minute)}"></span></li>
    <li>create = <span th:text="${#calendars.create(year,month,day,hour,minute,second)}"></span></li>
    <li>create = <span th:text="${#calendars.create(year,month,day,hour,minute,second,millisecond)}"></span></li>
    <li>createForTimeZone = <span th:text="${#calendars.createForTimeZone(year,month,day,timeZone)}"></span></li>
    <li>createForTimeZone = <span th:text="${#calendars.createForTimeZone(year,month,day,hour,minute,timeZone)}"></span></li>
    <li>createForTimeZone = <span th:text="${#calendars.createForTimeZone(year,month,day,hour,minute,second,timeZone)}"></span></li>
    <li>createForTimeZone = <span th:text="${#calendars.createForTimeZone(year,month,day,hour,minute,second,millisecond,timeZone)}"></span></li>
    <li>createNow = <span th:text="${#calendars.createNow()}"></span></li>
    <li>createNowForTimeZone = <span th:text="${#calendars.createNowForTimeZone('Asia/Seoul')}"></span></li>
    <li>createToday = <span th:text="${#calendars.createToday()}"></span></li>
    <li>createTodayForTimeZone = <span th:text="${#calendars.createTodayForTimeZone('Asia/Seoul')}"></span></li>
</ul>

<h1>numbers</h1>
<ul>
    <li>formatInteger = <span th:text="${#numbers.formatInteger(num,3)}"></span></li>
    <li>arrayFormatInteger = <span th:text="${#numbers.arrayFormatInteger(numArray,3)}"></span></li>
    <li>listFormatInteger = <span th:text="${#numbers.listFormatInteger(numList,3)}"></span></li>
    <li>setFormatInteger = <span th:text="${#numbers.setFormatInteger(numSet,3)}"></span></li>
    <li>formatInteger = <span th:text="${#numbers.formatInteger(num,3,'POINT')}"></span></li>
    <li>arrayFormatInteger = <span th:text="${#numbers.arrayFormatInteger(numArray,3,'POINT')}"></span></li>
    <li>listFormatInteger = <span th:text="${#numbers.listFormatInteger(numList,3,'POINT')}"></span></li>
    <li>setFormatInteger = <span th:text="${#numbers.setFormatInteger(numSet,3,'POINT')}"></span></li>
    <li>formatInteger = <span th:text="${#numbers.formatInteger(num,3,'POINT')}"></span></li>
    <li>arrayFormatInteger = <span th:text="${#numbers.arrayFormatInteger(numArray,3,'POINT')}"></span></li>
    <li>listFormatInteger = <span th:text="${#numbers.listFormatInteger(numList,3,'POINT')}"></span></li>
    <li>setFormatInteger = <span th:text="${#numbers.setFormatInteger(numSet,3,'POINT')}"></span></li>
    <li>formatDecimal = <span th:text="${#numbers.formatDecimal(num,3,2,'COMMA')}"></span></li>
    <li>arrayFormatDecimal = <span th:text="${#numbers.arrayFormatDecimal(numArray,3,2,'COMMA')}"></span></li>
    <li>listFormatDecimal = <span th:text="${#numbers.listFormatDecimal(numList,3,2,'COMMA')}"></span></li>
    <li>setFormatDecimal = <span th:text="${#numbers.setFormatDecimal(numSet,3,2,'COMMA')}"></span></li>
    <li>formatDecimal = <span th:text="${#numbers.formatDecimal(num,3,'POINT',2,'COMMA')}"></span></li>
    <li>arrayFormatDecimal = <span th:text="${#numbers.arrayFormatDecimal(numArray,3,'POINT',2,'COMMA')}"></span></li>
    <li>listFormatDecimal = <span th:text="${#numbers.listFormatDecimal(numList,3,'POINT',2,'COMMA')}"></span></li>
    <li>setFormatDecimal = <span th:text="${#numbers.setFormatDecimal(numSet,3,'POINT',2,'COMMA')}"></span></li>
    <li>formatCurrency = <span th:text="${#numbers.formatCurrency(num)}"></span></li>
    <li>arrayFormatCurrency = <span th:text="${#numbers.arrayFormatCurrency(numArray)}"></span></li>
    <li>listFormatCurrency = <span th:text="${#numbers.listFormatCurrency(numList)}"></span></li>
    <li>setFormatCurrency = <span th:text="${#numbers.setFormatCurrency(numSet)}"></span></li>
<!--    <li>formatPercent = <span th:text="${#numbers.formatPercent(1.0)}"></span></li>-->
<!--    <li>arrayFormatPercent = <span th:text="${#numbers.arrayFormatPercent(numArray2)}"></span></li>-->
<!--    <li>listFormatPercent = <span th:text="${#numbers.listFormatPercent(numList2)}"></span></li>-->
<!--    <li>setFormatPercent = <span th:text="${#numbers.setFormatPercent(numSet2)}"></span></li>-->
<!--    <li>formatPercent = <span th:text="${#numbers.formatPercent(1.0, 3, 2)}"></span></li>-->
<!--    <li>arrayFormatPercent = <span th:text="${#numbers.arrayFormatPercent(numArray2, 3, 2)}"></span></li>-->
<!--    <li>listFormatPercent = <span th:text="${#numbers.listFormatPercent(numList2, 3, 2)}"></span></li>-->
<!--    <li>setFormatPercent = <span th:text="${#numbers.setFormatPercent(numSet2, 3, 2)}"></span></li>-->
    <li>sequence = <span th:text="${#numbers.sequence(from,to)}"></span></li>
    <li>sequence = <span th:text="${#numbers.sequence(from,to,step)}"></span></li>
</ul>

<h1>strings</h1>
<ul>
    <li>toString = <span th:text="${#strings.toString(obj)}"></span></li>
    <li>isEmpty = <span th:text="${#strings.isEmpty(name)}"></span></li>
    <li>arrayIsEmpty = <span th:text="${#strings.arrayIsEmpty(nameArr)}"></span></li>
    <li>listIsEmpty = <span th:text="${#strings.listIsEmpty(nameList)}"></span></li>
    <li>setIsEmpty = <span th:text="${#strings.setIsEmpty(nameSet)}"></span></li>
    <li>defaultString = <span th:text="${#strings.defaultString(text,default)}"></span></li>
    <li>arrayDefaultString = <span th:text="${#strings.arrayDefaultString(textArr,default)}"></span></li>
    <li>listDefaultString = <span th:text="${#strings.listDefaultString(textList,default)}"></span></li>
    <li>setDefaultString = <span th:text="${#strings.setDefaultString(textSet,default)}"></span></li>
    <li>contains = <span th:text="${#strings.contains(name,'na')}"></span></li>
    <li>containsIgnoreCase = <span th:text="${#strings.containsIgnoreCase(name,'ez')}"></span></li>
    <li>startsWith = <span th:text="${#strings.startsWith(name,'Na')}"></span></li>
    <li>endsWith = <span th:text="${#strings.endsWith(name,'e1')}"></span></li>
    <li>indexOf = <span th:text="${#strings.indexOf(name,'m')}"></span></li>
    <li>substring = <span th:text="${#strings.substring(name,3,5)}"></span></li>
    <li>substringAfter = <span th:text="${#strings.substringAfter(name,prefix)}"></span></li>
    <li>substringBefore = <span th:text="${#strings.substringBefore(name,suffix)}"></span></li>
    <li>replace = <span th:text="${#strings.replace(name,'las','ler')}"></span></li>
    <li>prepend = <span th:text="${#strings.prepend(str,prefix)}"></span></li>
    <li>append = <span th:text="${#strings.append(str,suffix)}"></span></li>
    <li>toUpperCase = <span th:text="${#strings.toUpperCase(name)}"></span></li>
    <li>toLowerCase = <span th:text="${#strings.toLowerCase(name)}"></span></li>
    <li>arrayJoin = <span th:text="${#strings.arrayJoin(namesArray,',')}"></span></li>
    <li>listJoin = <span th:text="${#strings.listJoin(namesList,',')}"></span></li>
    <li>setJoin = <span th:text="${#strings.setJoin(namesSet,',')}"></span></li>
    <li>arraySplit = <span th:text="${#strings.arraySplit(namesStr,',')}"></span></li>
    <li>listSplit = <span th:text="${#strings.listSplit(namesStr,',')}"></span></li>
    <li>setSplit = <span th:text="${#strings.setSplit(namesStr,',')}"></span></li>
    <li>trim = <span th:text="${#strings.trim(str)}"></span></li>
    <li>length = <span th:text="${#strings.length(str)}"></span></li>
    <li>abbreviate = <span th:text="${#strings.abbreviate(str,10)}"></span></li>
    <li>capitalize = <span th:text="${#strings.capitalize(str)}"></span></li>
    <li>unCapitalize = <span th:text="${#strings.unCapitalize(str)}"></span></li>
    <li>capitalizeWords = <span th:text="${#strings.capitalizeWords(str)}"></span></li>
    <li>capitalizeWords = <span th:text="${#strings.capitalizeWords(str,delimiters)}"></span></li>
    <li>escapeXml = <span th:text="${#strings.escapeXml(str)}"></span></li>
    <li>escapeJava = <span th:text="${#strings.escapeJava(str)}"></span></li>
    <li>escapeJavaScript = <span th:text="${#strings.escapeJavaScript(str)}"></span></li>
    <li>unescapeJava = <span th:text="${#strings.unescapeJava(str)}"></span></li>
    <li>unescapeJavaScript = <span th:text="${#strings.unescapeJavaScript(str)}"></span></li>
    <li>equals = <span th:text="${#strings.equals(first, second)}"></span></li>
    <li>equalsIgnoreCase = <span th:text="${#strings.equalsIgnoreCase(first, second)}"></span></li>
    <li>concat = <span th:text="${#strings.concat('text1', 'text2', 'text3')}"></span></li>
    <li>concatReplaceNulls = <span th:text="${#strings.concatReplaceNulls(null, 'text1', 'text2', 'text3')}"></span></li>
    <li>randomAlphanumeric = <span th:text="${#strings.randomAlphanumeric(3)}"></span></li>
</ul>

<h1>objects</h1>
<ul>
    <li>nullSafe = <span th:text="${#objects.nullSafe(obj,default)}"></span></li>
    <li>arrayNullSafe = <span th:text="${#objects.arrayNullSafe(objArray,default)}"></span></li>
    <li>listNullSafe = <span th:text="${#objects.listNullSafe(objList,default)}"></span></li>
    <li>setNullSafe = <span th:text="${#objects.setNullSafe(objSet,default)}"></span></li>
</ul>

<h1>bools</h1>
<ul>
    <li>isTrue = <span th:text="${#bools.isTrue(obj)}"></span></li>
    <li>arrayIsTrue = <span th:text="${#bools.arrayIsTrue(objArray)}"></span></li>
    <li>listIsTrue = <span th:text="${#bools.listIsTrue(objList)}"></span></li>
    <li>setIsTrue = <span th:text="${#bools.setIsTrue(objSet)}"></span></li>
    <li>isFalse = <span th:text="${#bools.isFalse(cond)}"></span></li>
    <li>arrayIsFalse = <span th:text="${#bools.arrayIsFalse(condArray)}"></span></li>
    <li>listIsFalse = <span th:text="${#bools.listIsFalse(condList)}"></span></li>
    <li>setIsFalse = <span th:text="${#bools.setIsFalse(condSet)}"></span></li>
    <li>arrayAnd = <span th:text="${#bools.arrayAnd(condArray)}"></span></li>
    <li>listAnd = <span th:text="${#bools.listAnd(condList)}"></span></li>
    <li>setAnd = <span th:text="${#bools.setAnd(condSet)}"></span></li>
    <li>arrayOr = <span th:text="${#bools.arrayOr(condArray)}"></span></li>
    <li>listOr = <span th:text="${#bools.listOr(condList)}"></span></li>
    <li>setOr = <span th:text="${#bools.setOr(condSet)}"></span></li>
</ul>
</body>
</html>