<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>execInfo</h1>
<ul>
    <li>templateName = <span th:text="${#execInfo.templateName}"></span></li>
    <li>templateMode = <span th:text="${#execInfo.templateMode}"></span></li>
    <li>processedTemplateName = <span th:text="${#execInfo.processedTemplateName}"></span></li>
    <li>processedTemplateMode = <span th:text="${#execInfo.processedTemplateMode}"></span></li>
    <li>templateNames = <span th:text="${#execInfo.templateNames}"></span></li>
    <li>templateModes = <span th:text="${#execInfo.templateModes}"></span></li>
    <li>templateStack = <span th:text="${#execInfo.templateStack}"></span></li>
</ul>

<h1>messages</h1>
<ul>
    <li>msg = <span th:text="${#messages.msg('msgKey')}"></span></li>
    <li>msg = <span th:text="${#messages.msg('msgKey', param1)}"></span></li>
    <li>msg = <span th:text="${#messages.msg('msgKey', param1, param2)}"></span></li>
    <li>msg = <span th:text="${#messages.msg('msgKey', param1, param2, param3)}"></span></li>
    <li>arrayMsg = <span th:text="${#messages.arrayMsg(array)}"></span></li>
    <li>listMsg = <span th:text="${#messages.listMsg(list)}"></span></li>
    <li>setMsg = <span th:text="${#messages.setMsg(set)}"></span></li>
    <li>msgOrNull = <span th:text="${#messages.msgOrNull('msgKey')}"></span></li>
    <li>msgOrNull = <span th:text="${#messages.msgOrNull('msgKey', param1)}"></span></li>
    <li>msgOrNull = <span th:text="${#messages.msgOrNull('msgKey', param1, param2)}"></span></li>
    <li>msgOrNull = <span th:text="${#messages.msgOrNull('msgKey', param1, param2, param3)}"></span></li>
    <li>arrayMsgOrNull = <span th:text="${#messages.arrayMsgOrNull(array)}"></span></li>
    <li>listMsgOrNull = <span th:text="${#messages.listMsgOrNull(list)}"></span></li>
    <li>setMsgOrNull = <span th:text="${#messages.setMsgOrNull(set)}"></span></li>
</ul>

<h1>URIs/URLs</h1>
<ul>
    <li>escapePath = <span th:text="${#uris.escapePath(uri)}"></span></li>
    <li>escapePath = <span th:text="${#uris.escapePath(uri, encoding)}"></span></li>
    <li>unescapePath = <span th:text="${#uris.unescapePath(uri)}"></span></li>
    <li>unescapePath = <span th:text="${#uris.unescapePath(uri, encoding)}"></span></li>
    <li>escapePathSegment = <span th:text="${#uris.escapePathSegment(uri)}"></span></li>
    <li>escapePathSegment = <span th:text="${#uris.escapePathSegment(uri, encoding)}"></span></li>
    <li>unescapePathSegment = <span th:text="${#uris.unescapePathSegment(uri)}"></span></li>
    <li>unescapePathSegment = <span th:text="${#uris.unescapePathSegment(uri, encoding)}"></span></li>
    <li>escapeFragmentId = <span th:text="${#uris.escapeFragmentId(uri)}"></span></li>
    <li>escapeFragmentId = <span th:text="${#uris.escapeFragmentId(uri, encoding)}"></span></li>
    <li>unescapeFragmentId = <span th:text="${#uris.unescapeFragmentId(uri)}"></span></li>
    <li>unescapeFragmentId = <span th:text="${#uris.unescapeFragmentId(uri, encoding)}"></span></li>
    <li>escapeQueryParam = <span th:text="${#uris.escapeQueryParam(uri)}"></span></li>
    <li>escapeQueryParam = <span th:text="${#uris.escapeQueryParam(uri, encoding)}"></span></li>
    <li>unescapeQueryParam = <span th:text="${#uris.unescapeQueryParam(uri)}"></span></li>
    <li>unescapeQueryParam = <span th:text="${#uris.unescapeQueryParam(uri, encoding)}"></span></li>
</ul>

<h1>conversions</h1>
<ul>
    <li>convert = <span th:text="${#conversions.convert(object, 'java.util.Date')}"></span></li>
    <li>convert = <span th:text="${#conversions.convert(object, targetClass)}"></span></li>
</ul>

<h1>dates</h1>
<ul>
    <li>format = <span th:text="${#dates.format(date)}"></span></li>
    <li>arrayFormat = <span th:text="${#dates.arrayFormat(datesArray)}"></span></li>
    <li>listFormat = <span th:text="${#dates.listFormat(datesList)}"></span></li>
    <li>setFormat = <span th:text="${#dates.setFormat(datesSet)}"></span></li>
    <li>formatISO = <span th:text="${#dates.formatISO(date)}"></span></li>
    <li>arrayFormatISO = <span th:text="${#dates.arrayFormatISO(datesArray)}"></span></li>
    <li>listFormatISO = <span th:text="${#dates.listFormatISO(datesList)}"></span></li>
    <li>setFormatISO = <span th:text="${#dates.setFormatISO(datesSet)}"></span></li>
    <li>format = <span th:text="${#dates.format(date, 'dd/MMM/yyyy HH:mm')}"></span></li>
    <li>arrayFormat = <span th:text="${#dates.arrayFormat(datesArray, 'dd/MMM/yyyy HH:mm')}"></span></li>
    <li>listFormat = <span th:text="${#dates.listFormat(datesList, 'dd/MMM/yyyy HH:mm')}"></span></li>
    <li>setFormat = <span th:text="${#dates.setFormat(datesSet, 'dd/MMM/yyyy HH:mm')}"></span></li>
    <li>day = <span th:text="${#dates.day(date)}"></span></li>  <!-- // also arrayDay(...), listDay(...), etc. -->
    <li>month = <span th:text="${#dates.month(date)}"></span></li>  <!-- // also arrayMonth(...), listMonth(...), etc. -->
    <li>monthName = <span th:text="${#dates.monthName(date)}"></span></li>  <!-- // also arrayMonthName(...), listMonthName(...), etc. -->
    <li>monthNameShort = <span th:text="${#dates.monthNameShort(date)}"></span></li>  <!-- // also arrayMonthNameShort(...), listMonthNameShort(...), etc. -->
    <li>year = <span th:text="${#dates.year(date)}"></span></li>  <!-- // also arrayYear(...), listYear(...), etc. -->
    <li>dayOfWeek = <span th:text="${#dates.dayOfWeek(date)}"></span></li>  <!-- // also arrayDayOfWeek(...), listDayOfWeek(...), etc. -->
    <li>dayOfWeekName = <span th:text="${#dates.dayOfWeekName(date)}"></span></li>  <!-- // also arrayDayOfWeekName(...), listDayOfWeekName(...), etc. -->
    <li>dayOfWeekNameShort = <span th:text="${#dates.dayOfWeekNameShort(date)}"></span></li>  <!-- // also arrayDayOfWeekNameShort(...), listDayOfWeekNameShort(...), etc. -->
    <li>create = <span th:text="${#dates.create(year,month,day)}"></span></li>
    <li>create = <span th:text="${#dates.create(year,month,day,hour,minute)}"></span></li>
    <li>create = <span th:text="${#dates.create(year,month,day,hour,minute,second)}"></span></li>
    <li>create = <span th:text="${#dates.create(year,month,day,hour,minute,second,millisecond)}"></span></li>
    <li>createNow = <span th:text="${#dates.createNow()}"></span></li>
    <li>createNowForTimeZone = <span th:text="${#dates.createNowForTimeZone('Asia/Seoul')}"></span></li>
    <li>createToday = <span th:text="${#dates.createToday()}"></span></li>
    <li>createTodayForTimeZone = <span th:text="${#dates.createTodayForTimeZone('Asia/Seoul')}"></span></li>
</ul>

<h1>calendars</h1>
<ul>
    <li>format = <span th:text="${#calendars.format(cal)}"></span></li>
    <li>arrayFormat = <span th:text="${#calendars.arrayFormat(calArray)}"></span></li>
    <li>listFormat = <span th:text="${#calendars.listFormat(calList)}"></span></li>
    <li>setFormat = <span th:text="${#calendars.setFormat(calSet)}"></span></li>
    <li>formatISO = <span th:text="${#calendars.formatISO(cal)}"></span></li>
    <li>arrayFormatISO = <span th:text="${#calendars.arrayFormatISO(calArray)}"></span></li>
    <li>listFormatISO = <span th:text="${#calendars.listFormatISO(calList)}"></span></li>
    <li>setFormatISO = <span th:text="${#calendars.setFormatISO(calSet)}"></span></li>
    <li>format = <span th:text="${#calendars.format(cal, 'dd/MMM/yyyy HH:mm')}"></span></li>
    <li>arrayFormat = <span th:text="${#calendars.arrayFormat(calArray, 'dd/MMM/yyyy HH:mm')}"></span></li>
    <li>listFormat = <span th:text="${#calendars.listFormat(calList, 'dd/MMM/yyyy HH:mm')}"></span></li>
    <li>setFormat = <span th:text="${#calendars.setFormat(calSet, 'dd/MMM/yyyy HH:mm')}"></span></li>
    <li>day = <span th:text="${#calendars.day(date)}"></span></li> <!-- // also arrayDay(...), listDay(...), etc. -->
    <li>month = <span th:text="${#calendars.month(date)}"></span></li> <!-- // also arrayMonth(...), listMonth(...), etc. -->
    <li>monthName = <span th:text="${#calendars.monthName(date)}"></span></li> <!-- // also arrayMonthName(...), listMonthName(...), etc. -->
    <li>monthNameShort = <span th:text="${#calendars.monthNameShort(date)}"></span></li> <!-- // also arrayMonthNameShort(...), listMonthNameShort(...), etc. -->
    <li>year = <span th:text="${#calendars.year(date)}"></span></li> <!-- // also arrayYear(...), listYear(...), etc. -->
    <li>dayOfWeek = <span th:text="${#calendars.dayOfWeek(date)}"></span></li> <!-- // also arrayDayOfWeek(...), listDayOfWeek(...), etc. -->
    <li>dayOfWeekName = <span th:text="${#calendars.dayOfWeekName(date)}"></span></li> <!-- // also arrayDayOfWeekName(...), listDayOfWeekName(...), etc. -->
    <li>dayOfWeekNameShort = <span th:text="${#calendars.dayOfWeekNameShort(date)}"></span></li> <!-- // also arrayDayOfWeekNameShort(...), listDayOfWeekNameShort(...), etc. -->
    <li>hour = <span th:text="${#calendars.hour(date)}"></span></li> <!-- // also arrayHour(...), listHour(...), etc. -->
    <li>minute = <span th:text="${#calendars.minute(date)}"></span></li> <!-- // also arrayMinute(...), listMinute(...), etc. -->
    <li>second = <span th:text="${#calendars.second(date)}"></span></li> <!-- // also arraySecond(...), listSecond(...), etc. -->
    <li>millisecond = <span th:text="${#calendars.millisecond(date)}"></span></li> <!-- // also arrayMillisecond(...), listMillisecond(...), etc. -->
    <li>create = <span th:text="${#calendars.create(year,month,day)}"></span></li>
    <li>create = <span th:text="${#calendars.create(year,month,day,hour,minute)}"></span></li>
    <li>create = <span th:text="${#calendars.create(year,month,day,hour,minute,second)}"></span></li>
    <li>create = <span th:text="${#calendars.create(year,month,day,hour,minute,second,millisecond)}"></span></li>
    <li>createForTimeZone = <span th:text="${#calendars.createForTimeZone(year,month,day,timeZone)}"></span></li>
    <li>createForTimeZone = <span th:text="${#calendars.createForTimeZone(year,month,day,hour,minute,timeZone)}"></span></li>
    <li>createForTimeZone = <span th:text="${#calendars.createForTimeZone(year,month,day,hour,minute,second,timeZone)}"></span></li>
    <li>createForTimeZone = <span th:text="${#calendars.createForTimeZone(year,month,day,hour,minute,second,millisecond,timeZone)}"></span></li>
    <li>createNow = <span th:text="${#calendars.createNow()}"></span></li>
    <li>createNowForTimeZone = <span th:text="${#calendars.createNowForTimeZone('Asia/Seoul')}"></span></li>
    <li>createToday = <span th:text="${#calendars.createToday()}"></span></li>
    <li>createTodayForTimeZone = <span th:text="${#calendars.createTodayForTimeZone('Asia/Seoul')}"></span></li>
</ul>
</body>
</html>